body, div, h1, h2, p {
	margin: 10;
	padding: 5;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

h2 {
  text-align: center;
  font-family: normal;
  color: red;
  font-size: 45px;
}

p {
  text-align: center;
  font-family: normal;
  color: white;
  font-size: 30px;
}

h1 {
  text-align: center;
  font-family:normal;
  color: red;
  font-size: 60px;
}


img {
  display:block;
  margin: auto;
}

html {
  background-color: black;
}

footer p{
  font-size: 15px;
}

#One {
  color: ffa3b3;
}

#Two {
  color: ffa3b3;
}

#Three {
  color: ffa3b3;
}